.page-id-103 {
	main {
		padding-top: 200px;
	}
    
.container-apropos {
	max-width: 1000px;
	margin: 0 auto;
}
	h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		font-weight: 200;
	}

	hr {
		width: 100%;
		margin: 5% 0;
	}

	.h1-hr {
		width: 100%;
		margin: 2% 0 5% 0;
	}

	.container-apropos h2 {
		font-size: 40px;
		letter-spacing: 10px;
		text-align: center;
		padding: 0 0 50px 0;
	}
	p {
		text-align: justify;
	}

	.cursor {
		z-index: 1000;
		position: absolute;
		width: 50px;
		height: 50px;
		border: 1px solid white;
		pointer-events: none;
		transition: transform 0.4s ease-in-out;

		.hovered {
			background-size: cover;
			transform: scale(5);
		}
	}

	.cta-prog div {
		max-width: 100%;
		height: 50px;
		display: flex;
		margin: auto;
		margin-top: 5px;
		margin-bottom: 50px;
		justify-content: center;
		align-items: center;
		background: #fff;
		transition: 0.25s linear all;
	}
	#liste-artiste {
		color: white;
		text-transform: uppercase;
		span:nth-of-type(odd) {
			color: grey;
		}
	}

    #liste-artiste p{
        font-size: 28px;
        text-align: justify;
        line-height: 66px;
    }

    #diapo-2 {
        border-top: #fff 1px solid;
	overflow-x: hidden;
	img {
		margin: 20px;
		border: 2px solid white;
	}
}

h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

	.container-apropos img {
				width: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
			}
}
