.page-id-103{

    main {
		padding-top: 200px;
        }
    
h1{
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		font-weight: 200;
	}
    hr {
			width: 100%;
			margin: 5% 0;
		}
        
    .h1-hr{
      width: 100%;
			margin: 2% 0 5% 0;  
    }

    ul{
        list-style: none;
    }

    ul li{ 
        color: white;
        text-align: justify;
        font-size: 23px;
        padding: 5px;
    }

.container h2{
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}
    p{
        text-align: justify;
    }

    .cursor{
        z-index: 1000;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        pointer-events: none;
        transition: transform 0.4s ease-in-out; 

        .hovered{
            background-size: cover;
            transform: scale(5);
        }

    }
}
