.page-id-103{
    
.container h2{
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;

    p{
        text-align: justify;
    }
}
 #apparition-photo h2 ul{
           box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
  }
   #apparition-photo h2 ul li {
        text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 18px;
    text-align: justify;
        }
}

