.post-type-archive-concert {
	.mois > .moisJanvier ~ .moisJanvier,
	.mois > .moisFevrier ~ .moisFevrier,
	.mois > .moisMars ~ .moisMars,
	.mois > .moisAvril ~ .moisAvril,
	.mois > .moisMai ~ .moisMai,
	.mois > .moisJuin ~ .moisJuin,
	.mois > .moisJuillet ~ .moisJuillet,
	.mois > .moisAout ~ .moisAout,
	.mois > .moisSeptembre ~ .moisSeptembre,
	.mois > .moisOctobre ~ .moisOctobre,
	.mois > .moisNovembre ~ .moiNovembre,
	.mois > .moisDecembre ~ .moisDecembre {
		display: none;
	}
	.mois {
		display: flex;
		flex-wrap: wrap;
		h3 {
			width: 100%;
			text-align: center;
			color: white;
			border-bottom: 1px solid white;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
		.detailConcert {
			aspect-ratio: 1 / 1;
			background-size: cover;
			background-position: center;
			border: 1px solid white;
			width: 25%;
		}
	}
}
