.blog{



    .container {
    main{
        padding-top: 200px;
    }

	h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		font-weight: 200;
	}

    .grilleActu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap:20px;
    }


    .actualite{
        width: 100%;
    }
}













}