.blog {
	.container {
		main {
			padding-top: 200px;
		}

		h1 {
			text-align: center;
			color: white;
			text-transform: uppercase;
			font-size: 40px;
			letter-spacing: 10px;
			font-weight: 200;
		}

		img {
			width: 100%;
		}

		.grilleActu {
			display: flex;
			// justify-content: center;
			// align-items: center;
			gap: 30px;
			flex-wrap: wrap;
		}

		.actualite {
			width: calc((100% / 3) - 20px);
		}
	}

    .wp-pagenavi{
        color: white;
        padding: 5px;

    span {
 text-decoration: none;
        list-style: none;
        color: white;

    }
    
    a{
        text-decoration: none;
        list-style: none;
        color: white;
    }
    
}
