.single-post {
	main {
		padding-top: 90px;
		.width-thumbnail {
			// width: 50%;
			img {
				width: 100%;
				aspect-ratio: 31/9;
				object-fit: cover;
			}
		}
		h1 {
			color: white;
			text-align: left;
			font-weight: 500;
			padding: 20px 0 10px;
			font-size: 32px;
		}
		p {
			padding: 20px 0;
		}

		// .yarpp {
		// 	border-top: 1px solid white;
		// 	padding-top: 1em;
		// 	h3 {
		// 		color: white;
		// 		text-align: center;
		// 		font-weight: 200;
		// 		padding: 20px 0 50px 0;
		// 		font-size: 40px;
		// 		letter-spacing: 5px;
		// 		text-transform: uppercase;
		// 	}
		// 	.yarpp-thumbnails-horizontal {
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: flex-start;
		// 		gap: 130px;

		// 		& > a {
		// 			width: 25%;
		// 			height: auto;
		// 			color: rgb(231, 231, 231);
		// 		}
		// 		img {
		// 			width: 100%;
		// 			aspect-ratio: 16 / 9;
		// 			object-fit: cover;
		// 			filter: grayscale(1);
		// 			border: 1px solid white;
		// 		}
		// 		span {
		// 			font-size: 24px;
		// 			font-weight: 600;
		// 		}
		// 	}
		// }
	}
	.container-contenu {
		width: 60%;
		margin: auto;
	}

	.post-categories,
	.tag {
		color: lightgray;
		a {
			color: inherit;
		}
	}
	h2 {
		font-size: 24px;
		letter-spacing: 5px;
		color: white;
		font-weight: 400;
		text-align: center;
	}
}
