#detail-concert {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
	min-height: 100vh;
	padding: 90px 0;

	& > div {
		// width: 50%;
		text-align: justify;
		width: 40%;
	}
	h2 {
		color: white;
		font-size: 65px;
	}
	h2,
	p {
		padding: 5px;
	}
	img {
		width: 50%;
		aspect-ratio: 9 / 16;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: top center;
		object-position: top center;
	}
}

.position-ytb {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.position-ytb iframe,
.position-ytb object,
.position-ytb embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.h1-concert-page {
	font-size: 28px;
	letter-spacing: 5px;
	color: white;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.line-up-style {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
}

.h2-concert-page {
	font-size: 40px;
	letter-spacing: 5px;
	color: lightgrey;
	font-weight: 200;
	text-align: center;
	padding: 5% 0 0 0;
}

.h3-concert-page {
	font-size: 32px;
	letter-spacing: 5px;
	color: white;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.cover-date {
	width: 100%;
	display: flex;
	justify-content: space-between;
	line-height: 25px;
	& > p {
		color: white;
		text-transform: uppercase;
	}
}

.cont-artiste-3 {
	width: 50%;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	img {
		aspect-ratio: 1 / 1;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	& > * {
		width: 100%;
	}
}
cta-prog-a {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 5px;
	text-decoration: underline;
}

#suivre-artiste {
	margin-top: 26px;
	a {
		color: white;
		i {
			font-size: 36px;
		}
	}
}

#background-aimeriez {
	border-top: 1px solid white;
	background-color: black;
	margin-top: 100px;
}

// .cta-b {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 100%;
// 	height: 45px;
// 	margin-top: 20px;
// 	background: #375179;
// 	border: 1px solid #535353;
// 	font-weight: 600;
// }

// .cta-b > a {
// 	letter-spacing: 5px;
// 	font-size: 16px;
// 	text-transform: uppercase;
// 	color: white;
// }
