/************************FOOTER***************************/

footer {
	background: black;
}

#footer-nav > div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
padding: 105px 95px 0 95px;
	text-align: left;
	color: lightgrey;
}

.flex-mention {
	width: 60%;
    column-count: 3;
    line-height: 30px;
	justify-content: space-between;
}

#mentionfooter nav {
	width: 100%;
	-moz-columns: 2;
	columns: 2;
}

#mentionfooter nav ul {
	width: 45%;
	flex-wrap: wrap;
}

#mentionfooter nav ul li a {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 160%;
	color: lightgrey;
}

#newsletter {
	box-sizing: border-box;
	padding: 125px 80px;
	border-top: 1px solid white;

	& > div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	& p {
		width: 58%;
		text-align: left;
	}
}

#newsletter {
	h2 {
		font-size: 113px;
		letter-spacing: 40px;
		text-transform: uppercase;
		color: white;
		font-weight: 400;
	}

	.mailpoet_form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		.mailpoet_paragraph {
			color: white;
			&:first-of-type {
				width: 80%;
			}
			&:nth-of-type(2) {
				width: 20%;
			}
			&:last-of-type {
				width: 100%;
			}
			input {
				padding: 15px;
				background-color: black;
				color: white;
				border-bottom: solid white 7px !important;
			}
			input[type="email"] {
				border: none;
				border-bottom: 1px solid white;
			}
			input[type="submit"] {
				border: 1px solid white !important;
				border-bottom: 3px solid white !important;
				border-top: 4px solid #fff !important;
			}
		}
	}

	#mailpoet_form_1 form.mailpoet_form {
		margin-top: 54px;
		padding: 0;
	}

	.element.style {
		border-bottom: 7px solid white;
	}

	& > div div p {
		text-align: left;
		width: 100%;
	}
}

/***********************footer********************************/
#menu-menu-principal-1 {
	a {
		color: white;
	}
}

#menu-menu-secondaire-1 {
	a {
		color: white;
		font-size: 16px;
	}
}

.footer-img {
	img {
		width: 100%;
		padding: 20px;
	}
}

#footer-rs div a{
	text-align: center;
    color: white;
    font-size: 60px;
    padding: 100px 0 100px 0;
}

