/*************************HEADER*****************************/

header {
	position: fixed;
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	transition: 0.25s linear all;

	& > div:first-child {
		display: flex;
		align-items: center;
		margin: 25px;

		span {
			margin-left: 25px;
			font-weight: 200;
			letter-spacing: 5px;
			color: white;
			text-transform: uppercase;
		}
		h1 {
			margin-left: 25px;
			font-weight: 200;
			letter-spacing: 5px;
			color: white;
			text-transform: uppercase;
		}
		img {
			width: 50px;
		}
	}

	/*************************NAV*****************************/

	& > nav ul {
		display: flex;
		margin-right: 25px;

		li {
			display: block;
			padding: 25px;

			a {
				letter-spacing: 5px;
				font-size: 16px;
				font-weight: 200;
				text-transform: uppercase;
				color: white;
			}
		}
	}
}

.darkHeader {
	background: black;
	border-bottom: solid 1px white;
}

@-webkit-keyframes flip {
	0% {
		transform: rotateY(360deg);
	}
	20% {
		transform: rotateY(0deg);
	}
}

@keyframes flip {
	0% {
		transform: rotateY(360deg);
	}
	20% {
		transform: rotateY(0deg);
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: #000;
	transition: 0.5s linear all;

	&.open {
		left: 0;
	}
}

/*************************FIN DU HEADER PRINCIPAL*****************************/

/*************************MENU*****************************/

/*************************fermeture*****************************/
#fermer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 30px 0;
}

#fermer a {
	font-size: 24px;
	font-weight: 200;
	color: white;
	text-decoration: underline;
}

/*************************Contenu*****************************/
#menu-contenu {
	width: 100%;
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	& > div {
		width: 50%;
	}

	#menu-principal {
		margin-bottom: 50px;
		li {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			a {
				color: #e1e1e1;
				font-size: 25px;
				font-weight: bold;
				letter-spacing: 16px;
				line-height: 250%;
				text-transform: uppercase;
				&:hover {
					-webkit-animation: flip 6s 1;
					animation: flip 6s 1;
					// animation-iteration-count: 1;
				}
			}
		}
	}

	#mention ul {
		-moz-columns: 2;
		columns: 2;
		a {
			color: white;
			font-size: 20px;
			line-height: 20px;
		}
	}
	.cont-artiste-menu {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.25s ease-in-out all;

		& > p {
			color: white;
			text-transform: uppercase;
		}

		& > div {
			max-width: 355px;
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
				border: white solid 1px;
				aspect-ratio: 1 / 1;
				-o-object-fit: cover;
				object-fit: cover;
				-o-object-position: top;
				object-position: top;
			}
		}
		hr {
			width: 351px;
			margin-top: 15px;
		}

		h3 {
			color: white;
			text-align: left;
			font-size: 24px;
			text-transform: uppercase;
			line-height: 35px;
			padding-top: 10px;
			span {
				font-size: 20px;
				font-weight: 100;
			}
		}
	}
}
.cover-date-menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	line-height: 25px;
	margin-top: 25px;
}

#mention nav {
	width: 32%;
	flex-wrap: wrap;
}

#mention > nav ul {
	width: 45%;
	flex-wrap: wrap;
}

#mention nav ul li a {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 3px;
	line-height: 160%;
	color: white;
}
