.page-id-105 {
	section {
		display: none;
		&.active {
			display: block;
		}
	}
    h1{
        text-align: center;
        color: white;
        text-transform: uppercase;
    }
h2{
        font-size: 36px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 200;
    padding: 5% 0;
     }

button {
    background: transparent;
    color: white;
    border: none;
    text-transform: uppercase;
    width: 25%;
}
}
