.page-id-107 {
	main section h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		font-weight: 200;
	}
	.apropos-main {
		padding-top: 100px;
	}

	#mail {
		padding: 50px 0 150px 0;

		h3 {
			padding-top: 40px;
		}
	}
	#zone-contact {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: nowrap;
		gap: 10%;
		margin-top: 100px;

		h2 {
			font-size: 34px;
			text-transform: uppercase;
			font-weight: 700;
			color: #fff;
			text-align: center;
		}

		p {
			color: #d9d9d9;
			text-align: left;
		}

		h4 {
			font-size: 20px;
			font-weight: 400;
			color: #d9d9d9;
			text-align: left;
		}

		.cta-apropos {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 45px;
			margin-top: 20px;
			background: #141414;
			color: white;
			font-weight: 700;
			text-transform: uppercase;
			border: solid 1px white;

			& > a {
				font-size: 16px;
				text-transform: uppercase;
				color: white;
			}

			&:hover {
				background-color: white;
				border: 1px solid #141414;

				a {
					color: black;
				}
			}
		}

		#contact-form {
			width: 70%;
			border: 1px solid white;
			color: white;
			padding: 20px;
			border-left: 11px solid white;
			border-bottom: 5px solid white;
			form {
				display: flex;
				flex-direction: column;
				label {
					display: flex;
					flex-direction: column;
					width: 100%;
					margin-bottom: 30px;
				}
				input,
				textarea {
					width: 100%;
					padding: 15px;
					margin-bottom: 20px;
					background: #141414;
					border: 0px;
					border-bottom: 1px solid white;
					color: white;
					font-size: 16px;
					margin-top: 10px;
				}
				textarea {
					border: solid 1px white;
					font-family: "Montserrat";
				}
				input[type="submit"] {
					background-color: #141414;
					color: white;
					border: 1px solid white;
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}
		}

		#zonecta {
			width: 20%;
		}
		.espace-hr {
			margin: 40px 0;
		}
	}

#mail{

	text-transform: uppercase;

	p{
		color: white;
		text-transform: none;
	}
 h3{
		font-size: 20px;
	}

	span{
		color: lightgray;
	}
}
background-image: url('../img/logo-grab.png');
background-repeat: no-repeat;
background-size: 80%;
background-position: bottom right;
}