.page-id-107{

	main section h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 40px;
		letter-spacing: 10px;
		font-weight: 200;
	}
    
	#mail h3{
		padding-top: 40px;
	}







}