#section404{

    img{
        width: 100%;
    }

div{
     padding: 100px 0;
}
    p{
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
            line-height: 40px;
    }

}