/**********************Remise à zero****************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li,
a {
	text-decoration: none;
	list-style: none;
}

img {
	height: auto;
}

body {
	background: #141414;
	font-family: "Montserrat";
}

.container {
	max-width: 1165px;
	width: 95%;
	margin: 0 auto;
}

p {
	font-size: 16px;
	color: rgb(231, 231, 231);
	font-weight: normal;
	text-align: justify;
	line-height: 28px;
}

hr {
	margin: 10px 0;
	width: 100%;
}

.page main {
	padding-top: 90px;
}

.aligncenter {
	margin: 0 auto;
	display: block;
}
