@media screen and (max-width: 767px) {
	.container {
		min-width: 100%;
		width: 100%;
	}
	.cta-prog div {
		max-width: 91%;
		text-align: center;
	}

	header {
		width: 100%;

		strong {
			display: none;
		}
	}

	#cover {
		height: 80vh;
	}

	//Menu
	#menu-contenu {
		text-align: center;
		padding: 30px;
		& > div {
			width: 100%;
		}
		.cont-artiste-menu {
			display: none;
		}
		#menu-principal li {
			justify-content: center;
			a {
				font-size: 20px;
				letter-spacing: 10px;
			}
		}
		#mention ul {
			columns: 1;
		}
	}
	header > nav ul li:first-of-type {
		display: none;
	}

	#prochain-artiste > div {
		flex-direction: column;
		gap: 0;
		padding-bottom: 5px;
	}

	.cont-artiste {
		width: 100%;
		div {
			width: 100%;
		}
	}

	.cont-artiste hr {
		width: 100%;
	}

	.coverdate {
		margin-top: 15px;

		hr {
			margin-top: 10px;
		}
	}

	#desc {
		width: 95%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

//archives concert
#diapo img {
	margin: auto;
}

#citation div p{
	padding: 0 25px;
	font-size: 18px;
}


	//archives concert
	.post-type-archive-concert .mois .detailConcert {
		width: 100%;
	}

	//footer

	#newsletter >div div p{
    margin-top: 25px;

		}
	#newsletter h2 {
		font-size: 30px;
		letter-spacing: 15px;
		    margin-top: 15px;
	}

	//accueil

	#desc-salle {
		padding: 0;

		> div {
			flex-direction: column;
			margin: 50px 0;
			img {
				display: none;
			}
			h4 {
				font-size: 38px;
			}
		}
	}

	.desc-salle-texte {
		flex-direction: column;
		padding: 0 gpx;
	}
	.prochainement {
		padding: 30px 0 0;
	}

	.prochainement h2 {
		font-size: 25px;
		text-align: center;
		padding: 15px 0 15px;
		margin: 0px 0 -5px;
	}

	#articles {
		flex-direction: column;
		gap: 50px;
		div {
			width: 95%;
			margin: auto;
			    margin-top: 15px;
			h4{
				font-size: 21px;
			}
		}
	}
	#raccourcis ul li {
		padding: 25px 10%;
		font-size: 24px;
		a {
			padding: 0;
		}
	}

#footer-rs{
	    padding: 20px 0 20px 0;
}

#footer-nav>div{
	padding: 25px 0;
	text-align: center;
}

.flex-mention{
	column-count: 1;
	flex-direction: column;
	text-align: center;
}




/////actualité

/////A PROPOS
.page-id-103 #liste-artiste p {
    font-size: 20px;
    text-align: justify;
    line-height: 35px;
    width: 100%;
    padding: 0 25px;

.container-apropos h2 {
    font-size: 20px;
    letter-spacing: 10px;
    text-align: center;
   padding: 25px 0 0 0;
    color: #fff;
    font-weight: 400;
}
 p {
    text-align: justify;
    padding: 25px;
}
}