@media screen and (max-width: 767px) {
	header h1 {
		display: none;
	}

	//Menu
	#menu-contenu {
		& > div {
			width: 100%;
		}
		.cont-artiste-menu {
			display: none;
		}
	}
	header > nav ul li:first-of-type {
		display: none;
	}

	#prochain-artiste > div {
		flex-direction: column;
	}
	.cont-artiste {
		width: 90%;
	}
	#desc {
		width: 95%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	//archives concert
	.post-type-archive-concert .mois .detailConcert {
		width: 100%;
	}
}
