@charset "UTF-8";
/**********************Remise à zero****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

img {
  height: auto;
}

body {
  background: #141414;
  font-family: "Montserrat";
}

.container {
  max-width: 1165px;
  margin: 0 auto;
}

p {
  font-size: 16px;
  color: rgb(231, 231, 231);
  font-weight: normal;
  text-align: justify;
}

hr {
  width: 100%;
}

/*************************FONTS*****************************/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/*************************HEADER*****************************/
header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: 0.25s linear all;
  /*************************NAV*****************************/
}
header > div:first-child {
  display: flex;
  align-items: center;
  margin: 25px;
}
header > div:first-child span {
  margin-left: 25px;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}
header > div:first-child h1 {
  margin-left: 25px;
  font-weight: 200;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
}
header > div:first-child img {
  width: 50px;
}
header > nav ul {
  display: flex;
  margin-right: 25px;
}
header > nav ul li {
  display: block;
  padding: 25px;
}
header > nav ul li a {
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  color: white;
}

.darkHeader {
  background: black;
  border-bottom: solid 1px white;
}

.menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s linear all;
}
.menu.open {
  left: 0;
}

/*************************FIN DU HEADER PRINCIPAL*****************************/
/*************************MENU*****************************/
/*************************fermeture*****************************/
#fermer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 0;
}

#fermer a {
  font-size: 24px;
  font-weight: 200;
  color: white;
  text-decoration: underline;
}

/*************************Contenu*****************************/
#menu-contenu {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#menu-contenu > div {
  width: 50%;
}
#menu-contenu #menu-principal {
  margin-bottom: 50px;
}
#menu-contenu #menu-principal li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#menu-contenu #menu-principal li a {
  color: #e1e1e1;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 16px;
  line-height: 250%;
}
#menu-contenu #mention ul {
  -moz-columns: 2;
       columns: 2;
}
#menu-contenu #mention ul a {
  color: white;
  font-size: 20px;
}
#menu-contenu .cont-artiste-menu {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out all;
}
#menu-contenu .cont-artiste-menu > p {
  color: white;
  text-transform: uppercase;
}
#menu-contenu .cont-artiste-menu > div {
  max-width: 355px;
  display: flex;
  flex-direction: column;
}
#menu-contenu .cont-artiste-menu > div img {
  width: 100%;
  border: white solid 1px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#menu-contenu .cont-artiste-menu hr {
  width: 351px;
  margin-top: 15px;
}
#menu-contenu .cont-artiste-menu h3 {
  color: white;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 35px;
  padding-top: 10px;
}
#menu-contenu .cont-artiste-menu h3 span {
  font-size: 20px;
  font-weight: 100;
}

.cover-date-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  margin-top: 25px;
}

#mention nav {
  width: 32%;
  flex-wrap: wrap;
}

#mention > nav ul {
  width: 45%;
  flex-wrap: wrap;
}

#mention nav ul li a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 160%;
  color: white;
}

/************************* DEBUT COVER*****************************/
#cover {
  height: 98vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid white;
  position: relative;
}

#cover-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.75);
  transition: 0.25s linear all;
}
#cover-bg:hover {
  background-color: rgba(20, 20, 20, 0.2);
}
#cover-bg:hover #desc {
  background-color: rgba(20, 20, 20, 0.75);
}

/************************DESCRIPTION*****************************/
#desc {
  /* background-color: rgba(20, 20, 20, 0); */
  max-width: 375px;
  text-align: left;
  position: absolute;
  top: 50%;
  right: 10vw;
  padding: 20px;
  transform: translateY(-50%);
  transition: 0.15s linear all;
}
#desc h2 {
  font-size: 24px;
  letter-spacing: 5px;
  color: white;
  font-weight: 400;
}
#desc .hr-desc {
  margin: 20px 0;
  border-top: 2px solid white;
}
#desc > p {
  margin-bottom: 20px;
  text-align: justify;
  color: white;
  font-weight: 200;
}

.cover-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  margin-top: 25px;
}
.cover-date > p {
  color: white;
  text-transform: uppercase;
}

.cta-esp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background: #141414;
  border: 1px solid #535353;
  font-weight: 600;
}
.cta-esp > a {
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.cta-b {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background: #375179;
  border: 1px solid #535353;
  font-weight: 600;
}

.cta-b > a {
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

/************************PROCHAINEMENT*****************************/
.prochainement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}
.prochainement h2 {
  margin: 55px 0;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 200;
}
.prochainement h2 hr {
  width: 100%;
  height: auto;
}

#prochain-artiste > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.cont-artiste {
  width: 50%;
  /* height: 760px; */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  background: black;
  box-shadow: 2px -1px 0 2px #fff;
  border: 1px solid white;
  transition: 0.25s ease-in-out all;
}
.cont-artiste:hover {
  box-shadow: 5px -5px 0 4px white;
}
.cont-artiste > div {
  max-width: 355px;
  display: flex;
  flex-direction: column;
}
.cont-artiste > div img {
  width: 100%;
  border: white solid 1px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont-artiste hr {
  width: 351px;
  margin-top: 15px;
}
.cont-artiste h3 {
  color: white;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 35px;
}
.cont-artiste h3 span {
  font-size: 20px;
  font-weight: 100;
}

.cta-prog div {
  max-width: 470px;
  height: 50px;
  display: flex;
  margin: auto;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
  background: white;
  transition: 0.25s linear all;
}
.cta-prog div a {
  transition: 0.25s linear all;
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}
.cta-prog div:hover {
  background-color: transparent;
  border: 2px solid white;
}
.cta-prog div:hover a {
  color: white;
}

.cta-prog hr {
  margin: auto;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/************************SLIDE / SLICK*****************************/
#diapo {
  overflow-x: hidden;
}
#diapo img {
  margin: 20px;
  border: 2px solid white;
}

/************************DESCRIPTION SALLE*****************************/
#desc-salle {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#desc-salle > div {
  width: 90%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 10px;
  background: black;
  box-shadow: 2px -1px 0 2px #fff;
  border: 1px solid white;
}
#desc-salle > div img {
  border: #fff solid 1px;
  width: 40%;
  margin: 0 90px;
  transform: scale(1.2);
}
#desc-salle > div h4 {
  padding: 30px 0;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 200;
}
#desc-salle > div p {
  line-height: 1.75;
}
#desc-salle > div a {
  letter-spacing: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
}

.cta-bw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background: white;
  font-weight: 600;
}

/************************Plus que des concerts Articles*****************************/
#articles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

#articles > div {
  width: 25%;
}

#articles div img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(1);
  border: 1px solid white;
}

#articles div h4 {
  font-size: 24px;
  font-weight: 600;
  color: rgb(231, 231, 231);
  padding: 20px 0;
}

#articles div p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(231, 231, 231);
  text-align: left;
  padding-bottom: 20px;
}

#citation {
  width: 100%;
  overflow-x: hidden;
  height: 75vh;
  border: #fff solid 1px;
  background: url("../img/la-salle.png") no-repeat center;
  background-size: cover;
}
#citation div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#citation div p {
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 1px 4px black;
}

#raccourcis ul {
  list-style-type: none;
}
#raccourcis ul li {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  border: #fff solid 1px;
  font-size: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 10%;
  transition: 0.25s ease-in-out all;
}
#raccourcis ul li a {
  color: #fff;
  transition: 0.25s ease-in-out all;
}

#raccourcis li:hover {
  background: white;
}
#raccourcis li:hover a {
  color: black;
}

#detail-concert {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  min-height: 100vh;
  padding: 90px 0;
}
#detail-concert > div {
  text-align: justify;
  width: 30%;
}
#detail-concert h2 {
  color: white;
}
#detail-concert h2,
#detail-concert p {
  padding: 10px;
}
#detail-concert img {
  width: 30%;
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

/************************FOOTER***************************/
footer {
  background: black;
  border-top: 3px solid white;
}

#mentionfooter nav {
  width: 100%;
  -moz-columns: 2;
       columns: 2;
}

#mentionfooter nav ul {
  width: 45%;
  flex-wrap: wrap;
}

#mentionfooter nav ul li a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 160%;
  color: white;
}

@media screen and (max-width: 480px) {
  header h1 {
    display: none;
  }
  #prochain-artiste > div {
    flex-direction: column;
  }
  .cont-artiste {
    width: 90%;
  }
  #desc {
    width: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}/*# sourceMappingURL=style.css.map */